* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: rgba(255, 64, 95, 1);
}

body {
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  color: rgb(248, 248, 248);
}

header {
  font-size: 2em;
  text-shadow: 2px 4px 3px rgba(27, 27, 27, 0.534);
  margin-bottom: 30px;
}

.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icons {
  margin: 5px;
  width: 25%;
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  transition: 0.3s ease;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  font-size: 3rem;
  cursor: pointer;
}

.players {
  height: 10vh;
  width: 90%;
  padding: 5px;
  margin-top: 20px;
  display: flex;
  text-shadow: 2px 4px 3px rgba(27, 27, 27, 0.534);
  padding: 0px 15px;
}

button {
  width: 10%;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #ffaf2f;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-shadow: 2px 4px 3px rgba(27, 27, 27, 0.534);
}

.player {
  width: 45%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  transition: 0.3s ease-in;
  border-radius: 8px;
}

#player2 {
  justify-content: flex-end;
}

.darken {
  background-color: rgba(39, 39, 39, 0.164);
}

.hidden{
  display: none;
}